<footer
  class="bg-gray-800 bg-opacity-80 w-full flex flex-col gap-2 text-center justify-center mt-20 opacity-80"
>
  <address class="text-center mt-5">
    <p class="font-bold">Matheus Brambila</p>
  </address>
  <p>Mais Opções para contato e midias sociais</p>
  <div class="flex gap-5 justify-center">
    <a
      href="https://www.linkedin.com/in/matheus-brambila-moises-677b35263/"
      aria-label="linkedin"
    >
      <i class="fa-brands fa-linkedin text-4xl hover:opacity-80"></i>
    </a>
    <a href="https://github.com/umtheus" aria-label="Github">
      <i class="fa-brands fa-github text-4xl hover:opacity-80"></i>
    </a>
    <a
      href="https://www.instagram.com/matheus_brambila_/"
      aria-label="instagram"
      class="mb-5"
    >
      <i class="fa-brands fa-instagram text-4xl hover:opacity-80"></i>
    </a>
  </div>
</footer>

<!-- 
 <a [href]="'mailto:' + 'matheus' + '@' + 'email.com'"
      ><span>gm.arr.matheus&#64;gmail.com</span></a
    > -->
