<div
  class="lg:absolute lg:bottom-0 grid grid-cols-4 lg:grid-cols-7 w-full p-5 gap-4 bg-gray-900 bg-opacity-90 mt-7 lg:mt-[115px] 2xl:mt-[28px] xl:mt-[96px] lg:px-16 2xl:px-20 xl:px-28 select-none"
>
  <!-- Primeira linha: 4 itens -->
  <div class="sm:p-2 text-center text-md sm:text-xl text-white opacity-30">
    Typescript
  </div>
  <div class="sm:p-2 text-center text-md sm:text-xl text-white opacity-30">
    Angular
  </div>
  <div class="sm:p-2 text-center text-md sm:text-xl text-white opacity-30">
    TailwindCSS
  </div>
  <div class="sm:p-2 text-center text-md sm:text-xl text-white opacity-30">
    Node.js
  </div>

  <!-- Segunda linha: 3 itens lado a lado ocupando 4 colunas -->
  <div class="col-span-4 grid grid-cols-3 gap-4 lg:contents">
    <div
      class="sm:p-2 p-1 text-center lg:col-span-1 text-md sm:text-xl text-white opacity-30"
    >
      Figma
    </div>
    <div
      class="sm:p-2 p-1 text-center lg:col-span-1 text-md sm:text-xl text-white opacity-30"
    >
      Git
    </div>
    <div
      class="sm:p-2 p-1 text-center lg:col-span-1 text-md sm:text-xl text-white opacity-30"
    >
      Github
    </div>
  </div>
</div>
