<section id="sobre" class="w-full mt-96 sm:mt-72 md:mt-72 lg:mt-32">
  <div class="flex px-14 xl:px-40">
    <div class="hidden lg:flex flex-row w-1/2">
      <div class="">
        <div class="flex flex-col items-center">
          <div class="h-16 w-1 bg-theme rounded-lg"></div>
          <div class="mb-2"></div>
          <div class="w-2 h-2 bg-theme rounded-full"></div>
          <div class="mt-0"></div>
          <div class="h-20 w-1 bg-theme mt-2 rounded-lg"></div>
          <div class="mb-2"></div>
          <div class="w-2 h-2 bg-theme rounded-full"></div>
          <div class="mt-2"></div>
          <div class="h-16 w-1 bg-theme rounded-lg"></div>
        </div>
      </div>
      <div class="flex gap-16 flex-col ml-6">
        <div class="flex gap-8 items-center">
          <i class="fa-solid fa-laptop-code text-white text-4xl"></i>
          <span class="text-xl font-semibold">Desenvolvedor Frontend</span>
        </div>
        <div class="flex gap-8 items-center">
          <i class="fa-solid fa-code text-4xl"></i
          ><span class="text-xl font-semibold">Código limpo</span>
        </div>
        <div class="flex gap-8 items-center">
          <i class="fa-solid fa-flask-vial text-4xl"></i
          ><span class="text-xl font-semibold">Teste unitário</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center lg:items-start w-full lg:w-1/2">
      <h2 class="text-3xl sm:text-4xl 2xl:text-5xl font-bold mb-8 2xl:mb-10">
        Sobre mim
      </h2>
      <span
        class="flex flex-col text-center max-w-2xl lg:text-start tracking-wider leading-6"
        >Comecei minha jornada no desenvolvimento de software há quatro anos,
        durante a faculdade. Desde então, descobri uma verdadeira paixão pelo
        processo de criar algo do zero e transformar ideias em soluções reais.
        Essa experiência despertou em mim o desejo constante de aprender e
        evoluir, o que me levou naturalmente à carreira de desenvolvedor. Hoje,
        encontro realização na combinação entre aprendizado contínuo e o prazer
        de construir ferramentas que fazem a diferença.</span
      >
    </div>
  </div>
</section>
